@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@400;700;900&display=swap');


:root {

    --primaryColor: white;
    --secondaryColor: rgb(56, 99, 163);
    --primaryFont-family: 'Roboto', sans-serif;
    --secondFont-family: 'Monoton', cursive;
}


#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9vw;

    background-color: var(--primasecondaryColor);
}

#coy_logo1 {
    display: block;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin: 1vw 2vw 0vw 2vw;
    transition: opacity 1s ease-in-out;


}

#coy_logo1:hover {
    opacity: 0;
}


#coy_logo2 {
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin: 1vw 2vw 0vw 2vw;
    transition: opacity 3s ease-in-out;
    animation: fading 10s infinite
}

#coy_logo2:hover {
    opacity: 0;
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes alternate_logo1 {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}



#my_coy {
    display: flex;
    flex-direction: row;
    margin-left: vw;
    padding: 1vw;
    cursor: pointer;

    font-size: 3vw;
    font-family: var(--primaryFont-family);
}

.menu {
    margin-right: 4vw;
}

.menuHide {
    margin-right: 4vw;
}

.menu_item {
    padding: 0 10px;
    width: 9vw;
    cursor: pointer;

    border-style: none;
    text-decoration: "none";
    color: Black;
    background-color: var(--primaryColor);
    font-size: 2vw;
    font-family: var(--primaryFont-family);
    transition: 0.4s;

}

.menu_item:hover {
    background-color: black;
    color: white;
}

#login {
    border-style: solid;
}

#login:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor)
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    height: 50vw;
    margin: auto;

    background-repeat: no-repeat;
    background-size: cover;

    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

#home_tagline {
    width: 62%;
    margin-top: 5vw;
    margin-left: 5vw;

    font-size: 5vw;
    font-weight: 800;
    font-family: var(--primaryFont-family);
    white-space: normal;
    cursor: default;
}

#search {
    height: 4vw;
    align-self: center;
    margin-bottom: 10vw;
    padding: 0;

}

#search_input {
    width: 40vw;
    height: 4vw;
    margin: 0;
    padding: 0;

    border-style: none;
    font-size: 3vw;
    font-family: var(--primaryFont-family);
}

#search_btn {
    width: 15vw;
    height: 4vw;
    margin: 0;
    padding: 0;

    border-style: none;
    background-color: rgb(34, 31, 31);
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 3vw;
    font-family: var(--primaryFont-family);
}


#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vw;
    align-items: center;
    margin-top: 2vw;

    background-color: var(--primaryColor);
}



.card {
    width: 25vw;
    font-size: 0vw;
    cursor: pointer;
    margin: auto;

}

.card_text {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    text-align: left;
    font-size: 1.5vw;
    font-family: var(--primaryFont-family);
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

t {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1vw;
}

x {
    font-weight: 500;
    margin-bottom: 1vw;
}

.card_pic {
    width: 25vw;
    height: 20vw;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.card_pic:hover {
    opacity: 1.0;
}



#side_bar {
    display: none;
}



@media screen and (max-width:768px) {

    #side_bar {
        display: block;
        position: sticky;
        top: 2vw;
        right: 2.6vw;
        cursor: pointer;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 9vw;
        Right: -2vw;
        z-index: 1;

    }

    .menuHide {
        display: none;
    }


    .menu_item {
        width: 20vw;
        background-color: var(--secondaryColor);
        font-size: 3vw;
        color: var(--primaryColor);
    }

    .menu_item:hover {
        background-color: var(--primaryColor);
        color: var(--secondaryColor)
    }

    #login {
        border-style: solid;
        background-color: var(--primaryColor);
        color: black;
    }

    #login:hover {
        background-color:black;
        color: white;
    }


    #content {

        height: 60vw;
        align-items: left;

    }

    #home_tagline {
        width: 60%;
        font-size: 4.8vw;
    }

    #search {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 20vw;
        margin: auto;
    }

    #search_input {
        width: 80vw;
        height: 7vw;
        margin: auto;
    }

    #search_btn {
        width: 80vw;
        height: 7vw;
        margin: auto;

    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        width: auto;
        margin: 15px;

    }


    .card_text {
        font-size: 3vw;
    }


    .card_pic {
        width: 90vw;
        height: 55vw;
    }
}


@media screen and (max-width:162px) {

    #coy_logo2 {

        width: 15vw;
        height: 15vw;
    }

    #coy_logo1 {
        width: 15vw;
        height: 15vw;
    }

    #my_coy {
        font-size: 7vw;
    }

    #header {
        height: 20vw;
    }


    .menu {
        flex-direction: column;
        position: fixed;
        top: 20vw;
        Right: -2vw;
        z-index: 1;

    }



    #content {

        height: 68vw;
    }

    #home_tagline {
        width: 60%;
        font-size: 5vw;
    }

    #search {
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 30vw;
        margin: auto;
    }

    #search_input {
        width: 80vw;
        height: 12vw;
        margin: auto;
        font-size: 6vw;
    }

    #search_btn {
        width: 80vw;
        height: 12vw;
        margin: auto;
        font-size: 6vw;

    }

    X {
        font-size: 5vw;
    }


    t {
        font-size: 10vw;
    }
}